<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        * {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body>
<div class="container mt-2">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand blog-logo" style="font-weight: bold;">Blog App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                <ul class="navbar-nav">
                    <li class="nav-item nav-link-hover ms-1 me-2">
                        <a class="nav-link nav-link-hover">
                            <i class="fa fa-ellipsis-h" aria-hidden="true" style="font-size: 20px;"></i>
                        </a>
                    </li>
                    <li class="nav-item nav-link-hover ms-1 me-2">
                        <a class="nav-link nav-link-hover">
                            <i class="fa fa-search" aria-hidden="true" style="font-size: 20px;"></i>
                        </a>
                    </li>
                    <li class="nav-item nav-link-hover ms-1 me-2">
                        <a class="nav-link nav-link-hover">
                            <i class="fa fa-bookmark-o" aria-hidden="true" style="font-size: 20px;"></i>
                        </a>
                    </li>
                    <li class="nav-item nav-link-hover ms-1 me-2">
                        <a class="nav-link nav-link-hover">
                            <i class="fa fa-bell-o" aria-hidden="true" style="font-size: 20px;"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container mb-3" style="margin-top: 130px;">
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12"></div>
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 pb-5">
            <h1 class="fw-bold">Angular Asynchronous Test Patterns and Recipes</h1>
            <div class="d-flex justify-content-between mt-4">
                <div>
                    <span style="font-size: 14px; color: #b0b0b0;">Dec 24, 2019</span>
                    &nbsp;
                    &bull;
                    &nbsp;
                    <span style="background: rgb(242, 242, 242); padding: 4px 10px; border-radius: 100px; font-size: 14px; color: #b0b0b0;">Art</span>
                </div>
                <div>
                        <span class="d-inline-block ms-3">
                            <i class="fa fa-bookmark-o" aria-hidden="true" style="font-size: 20px; color: #b0b0b0;"></i>
                        </span>
                    <span class="d-inline-block ms-3">
                            <i class="fa fa-ellipsis-h" aria-hidden="true" style="font-size: 20px; color: #b0b0b0;"></i>
                        </span>
                </div>
            </div>
            <div class="mt-4" style="font-size: 20px;">
                <p style="font-family: 'Times New Roman', 'Roboto', sans-serif;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet posuere neque. Nullam accumsan at justo at tempor. Vivamus a malesuada justo. Vivamus vehicula vulputate augue, vitae faucibus mi ultricies ac. Pellentesque bibendum nibh elit, ac pharetra nibh rhoncus ut. Praesent nec imperdiet mi, at vehicula urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id laoreet nulla. Aliquam mi elit, porta eu euismod in, imperdiet ac metus. Proin dictum orci odio, in gravida justo mattis nec. Integer suscipit consectetur consequat.
                </p>
                <br/>
                <div>
                    <img src="https://geographical.co.uk/media/k2/items/cache/e533c4b8d2d2d3798f3271c35ca6e050_XL.jpg"
                         alt=""
                         width="100%"
                    >
                </div>
                <br/>
                <p style="font-family: 'Times New Roman', 'Roboto', sans-serif;">
                    Quisque tristique at sem eget ornare. Duis porttitor vestibulum sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur tortor non sollicitudin iaculis. Praesent molestie dolor sit amet vehicula euismod. Curabitur ac dictum ipsum. In ac ex sit amet est convallis tincidunt et vitae enim. Curabitur dapibus a felis nec pharetra. Sed sed malesuada ex, nec tincidunt ex. Vivamus consectetur at ipsum eget tempus. Vestibulum dignissim tristique metus vel congue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam in justo quis est volutpat dictum sit amet ac lacus. Donec luctus libero eget ligula varius consectetur.
                </p>
                <br/>
                <p style="font-family: 'Times New Roman', 'Roboto', sans-serif;">
                    Nunc quis turpis pharetra leo cursus semper ut a purus. Mauris et mattis quam. Vestibulum euismod orci risus, sed auctor lorem egestas semper. Vestibulum volutpat lorem suscipit elit pretium convallis. Vivamus ac sagittis massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent finibus, felis ut aliquet faucibus, nisl leo malesuada sapien, nec semper orci quam ut libero.
                    Aenean vel felis ut nisi rhoncus tristique egestas in odio. Aliquam porta dui et ornare pulvinar. Nulla euismod lobortis tortor, eu bibendum nulla sodales vitae. Proin a nisi lorem. Vivamus blandit facilisis nisl, egestas malesuada diam blandit eget. Duis leo dolor, porttitor molestie libero id, dictum euismod tortor. Quisque vitae iaculis lectus, vel rhoncus enim.
                </p>
                <br/>
                <div>
                    <img src="https://realtyplusmag.com/wp-content/uploads/2020/08/Indonesia-Plans-for-New-Capital-City.jpg"
                         alt=""
                         width="100%"
                    >
                </div>
                <br/>
                <p style="font-family: 'Times New Roman', 'Roboto', sans-serif;">
                    Fusce quis mauris euismod ante semper commodo. Nulla fermentum dignissim mattis. Aenean eros mi, vulputate in sem eu, porta commodo enim. Integer porttitor leo varius tincidunt feugiat. Quisque ut leo nisl. Integer in ullamcorper leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas eu nulla dolor.
                </p>
            </div>
            <div class="mt-5">
                <span class="d-inline-block me-1" style="padding: 6px 11px; font-size: 12px; background: rgb(242, 242, 242);">PHP</span>
                <span class="d-inline-block me-1" style="padding: 6px 11px; font-size: 12px; background: rgb(242, 242, 242);">Phpstorm</span>
                <span class="d-inline-block me-1" style="padding: 6px 11px; font-size: 12px; background: rgb(242, 242, 242);">Webdev</span>
                <span class="d-inline-block me-1" style="padding: 6px 11px; font-size: 12px; background: rgb(242, 242, 242);">Setup</span>
            </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12"></div>
    </div>
</div>
<footer style="height: 80px; background: #333;">

</footer>
</body>
</html>